{% extends 'layout.html' %}

{% block content %}
    <h4 class="form">Register Here</h4>
    <div class="container form">
        <hr><br>
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form) }}
    </div>

{% endblock %}